@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));


@keyframes shine {
  0% { transform: translateX(-100%) rotate(60deg); width: 120%; height: 80%; opacity: 0; }
  50% { transform: translateX(100%) rotate(60deg); width: 120%; height: 80%;  opacity: 0.6; }
  100% { transform: translateX(200%) rotate(60deg); width: 120%; height: 80%;  opacity: 0; }
}

.animate-shine {
  animation: shine 1.2s linear infinite;
}